@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
}

.Toastify__toast-container--bottom-right {
    margin-bottom: 5rem;
}

.Toastify__toast-icon {
    margin-bottom: 0.8rem;
    margin-top: 0.2rem;
}

@layer components {
  .test-1234 {
      backdrop-filter: blur(2px);
      mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
      );
  }

  .black-shadow {
    filter: drop-shadow(5px 0px 15px black);
  }

  .pixel-blur {
    background-image: radial-gradient(#00000033 0.05rem,
        #00000066 1px);
    background-size: 4px 4px;
    backdrop-filter: blur(15px);
  }

  .centered-shadow {
    box-shadow: 0px 0px 15px rgba(225, 225, 225);
  }

  .centered-shadow-dark {
    box-shadow: 0px 0px 500px #0b1521;
  }

  .centered-shadow-sm {
    box-shadow: 0px 0px 8px rgba(225, 225, 225);
  }

  .centered-shadow-sm-none {
    box-shadow: 0px 0px 0px rgba(225, 225, 225);
  }

  .centered-shadow-sm-dark {
    box-shadow: 0px 0px 12px rgba(225, 225, 225, 0.1);
  }

  .centered-shadow-md-dark {
    box-shadow: 0px 0px 12px rgba(225, 225, 225, 0.2);
  }

  .centered-shadow-lg {
    box-shadow: 0px 0px 35px rgba(215, 215, 215);
  }

  .roboto-font {
    font-family: 'Roboto', sans-serif;
  }

  .inter-font {
    font-family: "Inter", sans-serif;
  }

  .worksans-font {
    font-family: 'Work Sans', sans-serif;
  }

  .poppins-font {
    font-family: "Poppins", sans-serif;
  }

  .neuehaas-font {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  }

  .neuehaas-roman-font {
    font-family: 'Neue Haas Grotesk Display Pro Roman', sans-serif;
  }

  .garamond-font {
    font-family: 'EB Garamond', serif;
  }

  .monospace-font {
    font-family: "Red Hat Mono", monospace;
  }

  .blob {
    background-image: url("/background.gif");
  }

  .bg-50 {
    background-size: 50%;
  }

  .widget-shadow {
    filter: drop-shadow(0px 0px 5px #00000050) drop-shadow(0px 0px 50px #000000);
  }

  .glow-pink-xs {
    filter: drop-shadow(0px 0px 5px #e7018aaa) drop-shadow(0px 0px 50px #e7018a);
  }

  .glow-yellow-xs {
    filter: drop-shadow(0px 0px 5px #f5ac37aa) drop-shadow(0px 0px 50px #f5ac37);
  }

  .glow-blue-xs {
    filter: drop-shadow(0px 0px 5px #0460ce88) drop-shadow(0px 0px 50px #0460cedd);
  }

  .textbox-outline {
    box-shadow: 0 0 0 1px #0460ce;
  }

  .rotate-y-md {
    transform: rotateY(25deg);
  }

  .-rotate-y-md {
    transform: rotateY(-25deg);
  }

  .rotate-y-sm {
    transform: rotateY(12deg);
  }

  .-rotate-y-sm {
    transform: rotateY(-12deg);
  }

  .dark-border-color {
    border-left: 2px solid black;
    border-right: 2px solid rgb(113 113 122);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  .animate-spin-slow {
    animation: spin 5s linear infinite;
  }

  .animate-border {
    animation: clippath 3s infinite -1.5s linear;
  }

  .scrollable-container {
    overflow-y: scroll;
    scrollbar-width: thin;
    /* Width of the scrollbar */
    scrollbar-color: #888888 #000000;
    /* Color of the scrollbar thumb and track */
  }

  .scrollable-container::-webkit-scrollbar {
    width: 8px;
    /* Width of the scrollbar */
  }

  .scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888888;
    /* Color of the scrollbar thumb */
  }

  .scrollable-container::-webkit-scrollbar-track {
    background-color: #000000;
    /* Color of the scrollbar track */
  }
}

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 95% 0);
    }

    25% {
        clip-path: inset(0 95% 0 0);
    }

    50% {
        clip-path: inset(95% 0 0 0);
    }

    75% {
        clip-path: inset(0 0 0 95%);
    }
}
